<h1>Device List</h1>
<%= link_to "create new device", new_device_path %>
<% unless @devices.blank? %>
	<ol>
		<% @devices.each do |d| %>
			<li>
				<%= link_to d, data: {'device-id': d.id } do %>
					<%= d.name %> <em>(<%= d.browser_windows.count %>)</em>
				<% end %>
			</li>
		<% end %>
	</ol>
<% end %>