<h1>Device List</h1>
<% unless @devices.blank? %>
	<ol>
		<% @devices.each do |d| %>
			<li>
				<%= link_to d do %>
					<%= d.name %> <em>(<%= d.id %>)</em>
				<% end %>
			</li>
		<% end %>
	</ol>
<% end %>