<h1>Tag: <%= @tag.name %></h1>
<hr />
<ol>
	<% if @tag.bookmarks.length > 0 %>
		<% @tag.bookmarks.each do |b| %>
		<li><b><%= link_to "Bookmark: #{b.title}", bookmark_path(b) %></b> &mdash; <%= link_to b.url, b.url, target: :new %></li>
		<% end %>
	<% else %>
		<p>This tag hasn't been used for anything yet.</p>
	<% end %>
</ol>